.event-img {
    @include set-vw(width, 1642px);
    @include set-vw(height, 840px);

}
.event-box{
    @include set-vw(border-radius, 15px);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: -20px;
    @include set-vw(padding-top, 41px);
    @include set-vw(padding-left, 48px);
    .event-ul {
        @include set-vw(padding-bottom, 36px);
        @include set-vw(padding-top, 9px);
        @include set-vw(padding-left, 48px);
        @include set-vw(margin-bottom, 86px);

        @include breakpoint("<=medium") {
            padding-left: 1em;
        }
    }
    .title {
        color: #484848;
        font-style: normal;
        font-weight: 600;
        @include set-vw(font-size, 20px);
        @include set-vw(line-height, 45px);
        // font-size: 20px;
        // line-height: 35px;

        @include breakpoint("<=medium") {
            font-size: 15px;
            line-height: 22.959px;
        }
    }

    .content-text{
        color: #484848;
        font-style: normal;
        font-weight: 600;
        @include set-vw(font-size, 20px);
        @include set-vw(line-height, 35px);
        // font-size: 20px;
        // line-height: 35px;

        @include breakpoint("<=medium") {
            font-size: 11px;
            line-height: 17.857px;
        }

    }

    color: #484848;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px; /* 225% */

    @include breakpoint("<=xsmall") {


    }

    .link {
        color: #484848;
    }
}


    .comming-soon{
        @include set-vw(width, 1642px);
        @include set-vw(height, 349px);
        @include set-vw(border-radius, 15px);
        background: linear-gradient(270deg, #2B2E83 0%, #00C2FF 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        @include set-vw(gap, 45px);

        .text{
            @include set-vw(padding-top, 76px);
            color: #FFF;
            text-align: center;
            @include set-vw(font-size, 78.851px);
            font-style: normal;
            font-weight: 800;
            @include set-vw(line-height, 140px);
        }
        .logo {
            @include set-vw(width, 264px);
            @include set-vw(height, 44px);
        }
    }
