#player {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include set-vw(gap, 23px);

    @include breakpoint("<=medium") {

        grid-template-columns: repeat(2, 1fr);
    }

    .player-row {
        display: flex;
        @include set-vw(gap, 23px);
    }

    .player-img {
        width: 100%;
    }

    @include breakpoint("<=xsmall") {
        display: flex;
    }
}

#player_mobile {
    display: none;
    @include set-vw(gap, 23px);
    width: 100%;

    .player-img {
        width: 100%;
    }

    @include breakpoint("<=xsmall") {
        display: block;
    }
}